*.wants/
dunst.service
flameshot.service
pasystray.service
unclutter.service
picom.service
tmux.service
status-notifier-watcher.service
tmux-server.service
xplugd.service
blueman-applet.service
watch-sleep.service
sleep.target
sleep.service
xkbmap.service
