[Unit]
Description=Pulse Audio system tray
Requires=tray.target
After=graphical-session-pre.target tray.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/pasystray

[Install]
WantedBy=graphical-session.target
