[Unit]
Description=Tmux server
After=graphical-session-pre.target tray.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/tmux new-session -d -s dev

[Install]
WantedBy=graphical-session.target
