[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/vimRepress"]
	path = bundle/vimRepress
	url = git://github.com/vim-scripts/VimRepress.git
[submodule "bundle/OminCppComplete"]
	path = bundle/OminCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
    ignore = dirty
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/python"]
	path = bundle/python
	url = git://www.github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/rainbowParentheses"]
	path = bundle/rainbowParentheses
	url = git://www.github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/hamlSass"]
	path = bundle/hamlSass
	url = git://www.github.com/tpope/vim-haml.git
[submodule "bundle/nodejs"]
	path = bundle/nodejs
	url = https://github.com/moll/vim-node.git
[submodule "bundle/backbonejs"]
	path = bundle/backbonejs
	url = https://github.com/mklabs/vim-backbone.git
[submodule "bundle/jade"]
	path = bundle/jade
	url = https://github.com/digitaltoad/vim-jade.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/tlib"]
	path = bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/mustache-handlebars"]
	path = bundle/mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/stylus"]
	path = bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "bundle/golang"]
	path = bundle/golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/gocode"]
	path = bundle/gocode
	url = https://github.com/Blackrush/vim-gocode.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/xml"]
	path = bundle/xml
	url = https://github.com/othree/xml.vim.git
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/tmuxline"]
	path = bundle/tmuxline
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/undoTree"]
	path = bundle/undoTree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/signify"]
	path = bundle/signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "bundle/vimScriptLint"]
	path = bundle/vimScriptLint
	url = https://github.com/dbakker/vim-lint.git
[submodule "bundle/nerdCommenter"]
	path = bundle/nerdCommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/jsBeautify"]
	path = bundle/jsBeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "bundle/nodjeSnippets"]
	path = bundle/nodjeSnippets
	url = https://github.com/jamescarr/snipmate-nodejs.git
[submodule "bundle/easyMotion"]
	path = bundle/easyMotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/angular-snippets"]
	path = bundle/angular-snippets
	url = https://github.com/BerkeleyTrue/angular-vim-snippets.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/react-snippets"]
	path = bundle/react-snippets
	url = https://github.com/BerkeleyTrue/vim-react-snippets.git
[submodule "bundle/jsx"]
	path = bundle/jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/jsdoc-snippets"]
	path = bundle/jsdoc-snippets
	url = https://github.com/BerkeleyTrue/vim-jsdoc-snippets.git
[submodule "bundle/json"]
	path = bundle/json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
[submodule "bundle/scala"]
	path = bundle/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/fireplace-cljs"]
	path = bundle/fireplace-cljs
	url = https://github.com/tpope/vim-fireplace.git
[submodule "bundle/paredit-cljs"]
	path = bundle/paredit-cljs
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "bundle/clojureStatic"]
	path = bundle/clojureStatic
	url = https://github.com/guns/vim-clojure-static.git
[submodule "matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/scrollfix"]
	path = bundle/scrollfix
	url = https://github.com/vim-scripts/scrollfix.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-instance-d"]
	path = bundle/vim-instance-d
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/BufOnly.vim"]
	path = BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "bundle/elm"]
	path = bundle/elm
	url = https://github.com/lambdatoast/elm.vim.git
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/vim-bbye"]
	path = bundle/vim-bbye
	url = https://github.com/moll/vim-bbye.git
