* {
  font-family: "FiraCode Nerd Font", monospace;
  font-size: 16px;
  color: @text;
  background: @base;
}

#workspaces button {
  margin: 0 2px;
}

#workspaces button.active {
  background: @surface0;
}
#workspaces button.active * {
  background: @surface0;
}
