@define-color catppuccin-rosewater #f2d5cf;
@define-color catppuccin-flamingo #eebebe;
@define-color catppuccin-pink #f4b8e4;
@define-color catppuccin-mauve #ca9ee6;
@define-color catppuccin-red #e78284;
@define-color catppuccin-maroon #ea999c;
@define-color catppuccin-peach #ef9f76;
@define-color catppuccin-yellow #e5c890;
@define-color catppuccin-green #a6d189;
@define-color catppuccin-teal #81c8be;
@define-color catppuccin-sky #99d1db;
@define-color catppuccin-sapphire #85c1dc;
@define-color catppuccin-blue #8caaee;
@define-color catppuccin-lavender #babbf1;
@define-color catppuccin-text #c6d0f5;
@define-color catppuccin-subtext1 #b5bfe2;
@define-color catppuccin-subtext0 #a5adce;
@define-color catppuccin-overlay2 #949cbb;
@define-color catppuccin-overlay1 #838ba7;
@define-color catppuccin-overlay0 #737994;
@define-color catppuccin-surface2 #626880;
@define-color catppuccin-surface1 #51576d;
@define-color catppuccin-surface0 #414559;
@define-color catppuccin-base #303446;
@define-color catppuccin-mantle #292c3c;
@define-color catppuccin-crust #232634;

@define-color transparent rgba(0.0, 0.0, 0.0, 0.0);
@define-color background @catppuccin-base;
@define-color background-light @catppuccin-surface1;

@define-color active-window-color @catppuccin-blue;
@define-color urgent-window-color @catppuccin-red;
@define-color font-color @catppuccin-text;
@define-color menu-background-color @catppuccin-surface0;
@define-color menu-font-color @catppuccin-text;

.taffy-window * {
  all: unset;
  font-family: "FiraCode Nerd Font", sans-serif;
  font-size: 12pt;
  color: @font-color;
}

.taffy-box {
  border-radius: 0px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: @background;
}

/* workspaces */

/*
Theres a top level workspaces box
Each workspace gets a box
  Each box has an outer-pad and an inner-pad
    The outer pad is gets the active class
    Then there's the inner-pad
      Inside the inner-pad is the .contents box
       Inside that box there is a label and another box
          The label gets an active class as well as .workspace-label
          The other box contains the app icons
             each one gets .window-icon-container
             one gets .active, the others get .normal
             The window-icon-container has a window-icon inside it with auto-size-image

*/
/* .workspaces .inner-pad { */
/*   padding-right: 4px; */
/* } */

.workspaces .contents {
  border-radius: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color 0.5s;
}

.workspaces .workspace-label {
  font-size: 12pt;
  padding-right: 4px;
  transition: color 0.5s;
  color: @catppuccin-lavender;
}

.workspaces .workspace-label.active {
  color: @catppuccin-sapphire;
}

/* visible but no the current active window */
.workspaces .workspace-label.visible {
  color: @catppuccin-sapphire;
}

.workspaces .active .contents {
  background-color: @background-light;
}

.window-icon-container.active {
  box-shadow: inset 0 -3px @catppuccin-blue;
}

.window-icon-container.urgent {
  box-shadow: inset 0 -3px @urgent-window-color;
}

/* This gives space for the box-shadow (they look like underlines) that follow.
   This will actually affect all widgets, (not just the workspace icons), but
   that is what we want since we want the icons to look the same. */
.auto-size-image {
  padding-top: 3px;
  padding-bottom: 3px;
}

/* sni tray */
.sni-tray {
  padding-left: 20px;
  padding-right: 20px;
}

.tray-icon-image {
  padding-left: 8px;
}

/* Button styling */

button {
  border-width: 0px;
  border-radius: 0px;
  background-color: @transparent;
}

button:checked,
button:hover .Contents:hover {
  box-shadow: inset 0 -3px @catppuccin-blue;
}

/* Menu styling */

/* The ".taffy-window" prefixed selectors are needed because if they aren't present,
   the top level .Taffybar selector takes precedence */
.taffy-window menuitem *,
menuitem * {
  color: @catppuccin-text;
}

.taffy-window menuitem,
menuitem {
  background-color: @catppuccin-surface1;
}

.taffy-window menuitem:hover,
menuitem:hover {
  background-color: @catppuccin-surface0;
}

.taffy-window menuitem:hover > label,
menuitem:hover > label {
  color: @catppuccin-text;
}

.graph {
  border-radius: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 10px;
  border-color: @catppuccin-surface2;
  background-color: @catppuccin-surface2;
}

.button label {
  padding-left: 8px;
  padding-right: 8px;
}

.battery label {
  color: @catppuccin-blue;
}

.battery .high {
  color: @catppuccin-green
}

.batter .low {
  color: @catppuccin-yellow
}
.batter .critical {
  color: @catppuccin-red
}
/* vim:ft=scss */
