@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

* {
  all: unset;
  font-size: 14px;
  font-family: 'FiraCode Nerd Font Mono 10';
  transition: 200ms;
}

trough highlight {
  background: @text;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @surface0;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @blue;
}

/* main floating window group */
.floating-notifications > scrolledwindow {
  border-radius: 8px;
  background-color: @base;
  margin-right: 20px;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.6);
}

.notification-background {
  background-color: @base;
  color: @text;
}

.floating-notifications .notification-background {
  border-left: 3px solid @lavender;
  border-right: 3px solid @lavender;
}

/* middle notifications */
.floating-notifications
  > scrolledwindow
  > widget
  > *:not(:last-child)
  .notification {
  border-radius: 0;
  border-bottom: 2px solid @overlay0;
}

/* first notification */
.floating-notifications
  > scrolledwindow
  > widget
  > *:first-child
  .notification-background {
  border-top: 3px solid @lavender;
  border-radius: 8px 8px 0 0;
}

.floating-notifications
  > scrolledwindow
  > widget
  > *:first-child
  .notification {
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid @overlay0;
}

/* last notification */
.floating-notifications
  > scrolledwindow
  > widget
  > *:last-child
  .notification-background {
  border-bottom: 3px solid @lavender;
  border-radius: 0 0 8px 8px;
}
.floating-notifications > scrolledwindow > widget > *:last-child .notification {
  border-radius: 0 0 8px 8px;
}

/* single notification (only child) */
.floating-notifications
  > scrolledwindow
  > widget
  > *:only-child
  .notification-background {
  border-top: 3px solid @lavender;
  border-bottom: 3px solid @lavender;
  border-radius: 8px;
}

.floating-notifications
  > scrolledwindow
  > widget
  > *:only-child
  .notification {
  border-radius: 8px;
  border-bottom: none;
}

.notification.low {
  background-color: @surface0;
}

.notification.critical {
  background-color: @mantle;
}

.notification .notification-content {
  margin: 7px;
}

.notification .summary {
  color: @text;
}

.notification .body {
  color: @text;
}

/* icon */
.notification .image {
  padding-right: 1rem;
  padding-left: 0.5rem;

  min-width: 38px;
  min-height: 38px;
  -gtk-icon-size: 38px; /* for icon rendering */
}

.notification .time {
  color: @subtext0;
  margin-right: 1.5rem;
}
.notification-group-close-button .close-button,
.notification-background .close-button {
  background-color: @maroon;
  border-radius: 6px;
  color: @surface0;
  margin: 7px;
  padding: 2px;
}

.notification-group-close-button .close-button:hover,
.notification-background .close-button:hover {
  background-color: @red;
  color: @base;
}

.notification-group-close-button .close-button:active,
.notification-background .close-button:active {
  background-color: @red;
  color: @base;
}

.floating-notifications {
  margin-top: 6px;
}

.control-center {
  background-color: @surface0;
  border-radius: 8px;
  border: 3px solid @lavender;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.6);
  color: @text;
  margin-right: 20px;
  margin: 18px;
  padding: 14px;
}

/* notification group header */
.notification-group > widget > overlay >box > revealer > .horizontal {
  margin-top: 8px;
}

.control-center .notification {
  background-color: @base;
}

.control-center .notification:hover {
  background-color: @surface1;
}

.control-center .notification.critical {
  background-color: @mantle;
  border-right: 2px solid @maroon;
}
.control-center .notification.critical:hover {
  background-color: @base;
}

.control-center .notification.normal {
  border-right: 2px solid @sky;
}

.control-center .notification.low {
  background-color: @surface1;
}

.control-center .notification.low:hover {
  background-color: @surface2;
}

.control-center .notification-background {
  background-color: @surface0;
  margin-top: 14px;
}

.control-center .notification:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @text;
}

.control-center .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text;
  background-color: @crust;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 7px;
}

.control-center .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface0;
  color: @text;
}

.control-center .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @text;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface2;
  color: @text;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @base;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @surface0;
}

.control-center-dnd slider {
  background: @surface1;
  border-radius: 8px;
}

.widget-title {
  margin: 0px;
  margin-bottom: 5px;
}

.widget-dnd {
  margin: 0px;
  margin-bottom: 2px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @sky;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @red;
}

.widget-dnd > switch slider {
  background: @surface1;
}

.widget-mpris .widget-mpris-player {
  background: @surface0;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @red;
}

.control-center .widget-label > label {
  color: @text;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @sapphire;
}

.widget-volume trough highlight {
  background: @sapphire;
}

.widget-backlight trough highlight {
  background: @yellow;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @yellow;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}
