@define-color rosewater #f2d5cf;
@define-color flamingo #eebebe;
@define-color pink #f4b8e4;
@define-color mauve #ca9ee6;
@define-color red #e78284;
@define-color maroon #ea999c;
@define-color peach #ef9f76;
@define-color yellow #e5c890;
@define-color green #a6d189;
@define-color teal #81c8be;
@define-color sky #99d1db;
@define-color sapphire #85c1dc;
@define-color blue #8caaee;
@define-color lavender #babbf1;
@define-color text #c6d0f5;
@define-color subtext1 #b5bfe2;
@define-color subtext0 #a5adce;
@define-color overlay2 #949cbb;
@define-color overlay1 #838ba7;
@define-color overlay0 #737994;
@define-color surface2 #626880;
@define-color surface1 #51576d;
@define-color surface0 #414559;
@define-color base #303446;
@define-color mantle #292c3c;
@define-color crust #232634;

* {
  all: unset;
  font-size: 14px;
  font-family: 'FiraCode Nerd Font Mono 10';
  transition: 200ms;
}

trough highlight {
  background: @text;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @surface0;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @blue;
}

.floating-notifications.background {
  margin-top: 4px;
}

.floating-notifications.background .notification-row .notification-background {
  /* box-shadow: */
  /*   0 0 8px 0 rgba(0, 0, 0, 0.8), */
  /*   inset 0 0 0 1px @surface0; */
  border-radius: 8px;
  border: 3px solid @mauve;
  background-color: @base;
  color: @text;
}

.floating-notifications.background .notification-row {
  margin-bottom: 14px;
  margin-right: 10px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification {
  border: @lavender;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 7px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @text;
}


.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 7px;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface0;
  color: @text;
}

.floating-notifications.background
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @text;
}

.close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6px;
  color: @surface1;
  background-color: @maroon;
}

.close-button:hover {
  color: @base;
  background-color: @red;
}

.close-button:active {
  color: @base;
  background-color: @red;
}

.control-center {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px @surface0;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @base;
  color: @text;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @text;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface2;
  color: @text;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @base;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @text;
  background-color: @surface0;
  box-shadow: inset 0 0 0 1px @surface1;
  margin-top: 14px;
}

.control-center
  .notification-row
  .notification-background
  .notification.critical {
  box-shadow: inset 0 0 7px 0 @red;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content {
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .summary {
  color: @text;
}

.time {
  color: @subtext0;
  margin-right: 1.5rem;
}


.control-center
  .notification-row
  .notification-background
  .notification
  .notification-content
  .body {
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > * {
  min-height: 3.4em;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action {
  border-radius: 7px;
  color: @text;
  background-color: @crust;
  box-shadow: inset 0 0 0 1px @surface1;
  margin: 7px;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @surface0;
  color: @text;
}

.control-center
  .notification-row
  .notification-background
  .notification
  > *:last-child
  > *
  .notification-action:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @text;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @overlay1;
  color: @text;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @surface1;
  background-color: @sapphire;
  color: @text;
}

.notification.critical progress {
  background-color: @red;
}

.notification.low progress,
.notification.normal progress {
  background-color: @blue;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @surface0;
}

.control-center-dnd slider {
  background: @surface1;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @surface0;
  border: 1px solid @surface1;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @surface0;
}

.widget-dnd > switch slider {
  background: @surface1;
  border-radius: 8px;
  border: 1px solid @overlay0;
}

.widget-mpris .widget-mpris-player {
  background: @surface0;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: @red;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @surface0;
}

.control-center .widget-label > label {
  color: @text;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @sapphire;
}

.widget-volume trough highlight {
  background: @sapphire;
}

.widget-backlight trough highlight {
  background: @yellow;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: @yellow;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 1rem;
  padding-left: 0.5rem;

  min-width: 38px;
  min-height: 38px;
  -gtk-icon-size: 38px; /* for icon rendering */
}
